.bubbles__bubble {
    position: absolute;
    display: block;
    background: linear-gradient(to left, #59323c00, #59323c);
    color: #fff;
    padding: 10px 75px 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    white-space: nowrap;
}