.bubbles {
    position: relative;
    height: 200px;
    width: 2200px;
    margin: 0 auto;
    user-select: none;
}

.bubbles::before {
    position: absolute;
    content: ""; 
    top: -15%;
    left: 0;
    width: 100%;
    height: 300px;
    /* @TODO: Send this image from javascript */
    background: linear-gradient(to bottom, #fff, #ffffff00, #fff), url('/licence/assets/bubbles-bg.jpg') center center;
}