.home {
    /* @TODO: Send this image from javascript */
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)),  url('/licence/assets/home-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    align-items: center;
}

.home__quote {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

@media (min-width: 701px) {
    .home__quote {
        font-size: 36px;
        max-width: 50%;
    }
}