.contact {
    padding: 50px 0 30px;
}

.google__map-container {
    height: 500px;
    max-height: 70vh;
    position: relative;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .4);
}

.google__map-tabs {
    display: flex;
    background-color: transparent;
}

.google__map-tab {
    background-color: #f2eeb3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    transition: all .3s;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 500;
    color: #666;
    z-index: 2;
    border: 1px solid #bfaf80;
    border-bottom: none;
}

.google__map-tab:hover,
.google__map-tab:focus,
.google__map-tab.active {
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .4);
    color: #333;
}

.google__map-tab:not(:last-of-type) {
    margin-right: 5px;
}

.contact__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__info__item {
    width: calc(50% - 15px);
}

.contact__quote {
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)),  url('/assets/home-bg3.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 0 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    align-self: stretch;
    min-height: 400px;
}

.contact__quote > span {
    color: #fefefe;
    font-weight: 300;
    font-size: 24px;
}

@media only screen and (min-width: 601px) {
    .google__map-tab {
        min-width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .contact__info {
        flex-direction: column;
    }

    .google__map-tab {
        width: 50%;
    }

    .contact__info__item {
        width: 100%;
    }
}