.footer {
    background-color: #260126;
    padding: 80px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__content__item {
    padding: 5px 0;
}

.footer__copyright {
    color: #fefefe;
}

.footer__author {
    color: #fefefe;
}

.footer__author-name {
    color: #f2eeb3;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}

.footer__author-name:hover {
    color: #e1dda2;
}